@font-face {
  font-family: 'icons';
  src:  url('fonts/icons.eot?xkaqwl');
  src:  url('fonts/icons.eot?xkaqwl#iefix') format('embedded-opentype'),
    url('fonts/icons.ttf?xkaqwl') format('truetype'),
    url('fonts/icons.woff?xkaqwl') format('woff'),
    url('fonts/icons.svg?xkaqwl#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check:before {
  content: "\e90d";
}
.icon-phone:before {
  content: "\e90e";
}
.icon-arrow:before {
  content: "\e900";
}
.icon-calc:before {
  content: "\e901";
}
.icon-case:before {
  content: "\e902";
}
.icon-docs:before {
  content: "\e903";
}
.icon-edit:before {
  content: "\e904";
}
.icon-factory:before {
  content: "\e905";
}
.icon-input:before {
  content: "\e906";
}
.icon-plus:before {
  content: "\e907";
}
.icon-stats:before {
  content: "\e908";
}
.icon-telegram:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e90a";
}
.icon-users:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e90c";
}
