@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Regular.woff2") format("woff2"), url("../fonts/Geologica-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Medium.woff2") format("woff2"), url("../fonts/Geologica-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Light.woff2") format("woff2"), url("../fonts/Geologica-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/Geologica-Thin.woff2") format("woff2"), url("../fonts/Geologica-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: never;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  display: block;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-calc:before {
  content: "\e901";
}

.icon-case:before {
  content: "\e902";
}

.icon-docs:before {
  content: "\e903";
}

.icon-edit:before {
  content: "\e904";
}

.icon-factory:before {
  content: "\e905";
}

.icon-input:before {
  content: "\e906";
}

.icon-plus:before {
  content: "\e907";
}

.icon-stats:before {
  content: "\e908";
}

.icon-telegram:before {
  content: "\e909";
}

.icon-user:before {
  content: "\e90a";
}

.icon-users:before {
  content: "\e90b";
}

.icon-whatsapp:before {
  content: "\e90c";
}

.title {
  font-size: 4.375rem;
  font-weight: 100;
  line-height: 1.0285714286;
}

.title-sm {
  font-size: 2.25rem;
  font-weight: 100;
  line-height: 1.2;
}

.color-primary {
  color: #000;
}

.text-center {
  text-align: center;
}

.fancybox__container {
  max-width: 100% !important;
  padding: 0 !important;
}

.fancybox__slide {
  padding: 0;
}

.fancybox__backdrop {
  background: rgba(4, 24, 30, 0.64);
}

.fancybox__content {
  color: inherit;
  background: none;
  padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
  outline: none;
}

.popup {
  display: none;
  background: #fff;
  color: #000;
  overflow-y: auto;
  margin-left: auto;
}
@media (min-width: 767.98px) {
  .popup {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    max-width: 36.25rem;
  }
}
.popup__body {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  gap: 1rem;
  padding: 2.25rem 1rem 1rem;
  min-height: 100vh;
}
@media (min-width: 767.98px) {
  .popup__body {
    padding: 3rem 2.25rem 2.25rem 2.25rem;
  }
}
.popup__close {
  font-size: 1.25rem;
  background: #000;
  color: #fff;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 1.25rem;
  height: 1.25rem;
  font-size: 0.75rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;
}
@media (any-hover: hover) {
  .popup__close:hover {
    background: #000;
  }
}
.popup__subtitle {
  color: #000;
  line-height: 150%;
}
.popup__form {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.popup__form .form__btn {
  margin-top: auto;
}

.color-accent {
  color: #000;
}

.fw-medium {
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 0.5rem;
}
@media (any-hover: hover) {
  ::-webkit-scrollbar-thumb:hover {
    background: black;
  }
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.form__label {
  color: #000;
  font-size: 1rem;
  line-height: 125%;
}
.form__fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form__row {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
@media (min-width: 575.98px) {
  .form__row {
    flex-direction: row;
  }
}
.form__control {
  text-overflow: ellipsis;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  line-height: 125%;
  color: #000;
}
.form__control.form__control--dark:hover {
  background: rgba(255, 255, 255, 0.24);
}
.form__control.form__control--dark:focus {
  background: rgba(255, 255, 255, 0.24);
  outline: 0.0625rem solid #000;
}
.form__control::placeholder {
  opacity: 1;
  color: #000;
}
.form__control:focus {
  color: #000;
}
.form__control:disabled {
  opacity: 0.24;
}
.form__control:is(textarea) {
  height: 9rem;
  resize: none;
}
.form__privacy {
  font-size: 0.875rem;
  line-height: 157.143%;
}
.form__privacy a {
  color: #000;
}
@media (any-hover: hover) {
  .form__privacy a:hover {
    text-decoration: underline;
  }
}
.form__option-input:checked + .form__option-btn::before {
  background: #000;
  box-shadow: inset 0 0 0 0.375rem #fff;
}
.form__option-btn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  cursor: pointer;
  padding: 1rem;
}
.form__option-btn::before {
  content: "";
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  border-radius: 50%;
}
@media (min-width: 767.98px) {
  .form__option-btn {
    padding: 1.5rem 1rem;
  }
}

.btn {
  cursor: pointer;
  position: relative;
  z-index: 1;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  user-select: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  font-size: 1.25rem;
  gap: 0.5rem;
  font-weight: 300;
  border-radius: 0.25rem;
  padding: 1rem 1.75rem;
}
.btn:focus-visible {
  box-shadow: 0 0 0.0625rem 0.0625rem #000;
}
.btn.btn-primary {
  color: #fff;
  background-color: #fe4001;
}
.btn.btn-primary:hover {
  background-color: #e53a01;
}
.btn.btn-primary:active {
  background-color: #cb3301;
}
.btn.btn-white {
  color: #000;
  background-color: #fff;
}
.btn.btn-white:hover {
  background-color: #f2f2f2;
}
.btn.btn-white:active {
  background-color: #e6e6e6;
}
.btn.btn-sm {
  padding: 0.75rem 1.5rem;
}
.btn.btn-fullwidth {
  width: 100%;
  padding-inline: 1rem;
}
.btn:disabled, .btn[aria-disabled=true] {
  pointer-events: none;
}
.btn.filter-btn {
  width: fit-content;
}
.btn.filter-btn:not(:last-child) {
  border-right: 0;
}
.btn.filter-btn:not(:first-child) {
  border-left: 0;
}
.iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}

.select {
  position: relative;
}
.select select {
  appearance: none;
  background: transparent;
  border: 0.0625rem solid #000;
  border-radius: 0.375rem;
  color: #000;
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  display: block;
  font-size: 1rem;
  font-weight: 500;
  height: 100%;
  outline: none;
  padding: 1em 2.3125em 1em 1.4375em;
  width: 100%;
}

body {
  font-family: "Geologica", sans-serif;
  font-size: 1rem;
  min-width: 20rem;
  min-height: 100%;
  line-height: normal;
  color: #000;
  margin-right: 0 !important;
}
@media (max-width: 1023.98px) {
  body:has(.header.open-menu) {
    overflow: hidden;
  }
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: clip;
}

.page {
  flex: 1 1 auto;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 100%;
  padding: 0 1rem;
}
@media (min-width: 575.98px) {
  [class*=__container] {
    box-sizing: content-box;
    max-width: 33.75rem;
  }
}
@media (min-width: 767.98px) {
  [class*=__container] {
    max-width: 45rem;
  }
}
@media (min-width: 1023.98px) {
  [class*=__container] {
    max-width: 60rem;
  }
}
@media (min-width: 1279.98px) {
  [class*=__container] {
    max-width: 71.25rem;
  }
}
@media (min-width: 1399.98px) {
  [class*=__container] {
    max-width: 77.5rem;
  }
}

.header {
  padding: 1.88rem 0;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  max-width: 16.2875rem;
  width: 100%;
}
.header__logo img {
  width: 100%;
}
.header__btns {
  display: flex;
  gap: 1rem;
}
.promo {
  padding-bottom: 3rem;
}
.promo__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.promo__offer {
  flex: 1 1 auto;
  padding-top: 5.4rem;
}
.promo__title {
  margin-right: -8rem;
}
.promo__desc {
  margin-top: 3.7rem;
  font-size: 1.5rem;
  font-weight: 100;
}
.promo__btn {
  margin-top: 3rem;
  min-width: 21.6875rem;
}
.promo__image {
  position: relative;
  flex: 0 0 58.125rem;
  margin-right: -11.3rem;
}
.promo__image img {
  position: relative;
  z-index: 2;
}
.promo__image::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -89px;
  width: 1210px;
  height: 919px;
  background: url("../img/decor.svg") 0 0/contain no-repeat;
  z-index: 1;
  pointer-events: none;
}
.promo__footer {
  margin-top: -14rem;
  background-color: #f0f7fe;
  border-radius: 1.25rem;
  padding: 4rem 3.2rem;
}
.promo__caption {
  max-width: 41rem;
}
.promo__list {
  margin-top: 2.7rem;
  font-size: 1.5rem;
  font-weight: 100;
  columns: 2;
}
.promo__list li {
  break-inside: avoid;
  position: relative;
  padding-left: 1.3rem;
}
.promo__list li::before {
  content: "";
  position: absolute;
  top: 0.75rem;
  left: 0;
  border-radius: 50%;
  width: 0.375rem;
  height: 0.375rem;
  background: #ff3d00;
}
.promo__list li:not(:last-child) {
  margin-bottom: 1.6rem;
}

.problem {
  padding: 3rem 0;
}
.problem__title {
  max-width: 45rem;
}
.problem__desc {
  margin-top: 3.5rem;
  max-width: 38.75rem;
}
.problem__images {
  margin-top: 4.5rem;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  display: flex;
  justify-content: space-between;
}
.problem__bottom {
  margin-top: 4.75rem;
}
.problem__list {
  margin-top: 3.25rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.problem__item {
  counter-increment: num;
}
.problem__item::before {
  content: counter(num);
  color: #fe4001;
  font-size: 4.5rem;
  font-weight: 500;
}
.problem__item-caption {
  margin-top: 0.25rem;
  font-size: 1.5rem;
}
.problem__item-desc {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: 100;
  max-width: 15rem;
}

.solution {
  padding: 3rem 0;
}
.solution__body {
  background-color: #f0f7fe;
  border-radius: 1.25rem;
  padding: 3.25rem 2.65rem 3.75rem;
  display: flex;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.solution__body::before {
  content: "";
  position: absolute;
  top: 27%;
  left: 64%;
  width: 1210px;
  height: 919px;
  background: url("../img/decor.svg") 0 0/contain no-repeat;
  z-index: -1;
  pointer-events: none;
}
.solution__subtitle {
  margin-top: 4.2rem;
  max-width: 22.5rem;
  padding-left: 0.5rem;
}
.solution__text {
  margin-top: 2.5rem;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1.2;
  padding-left: 0.5rem;
}
.solution__image {
  flex: 0 0 23.5rem;
}

.benefits {
  padding: 3rem 0;
}
.benefits__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.benefits__main {
  max-width: 31.875rem;
}
.benefits__tabs {
  margin-top: 8rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.75rem;
  max-width: 28.125rem;
}
.benefits__tab {
  border: 0.0625rem solid;
  font-size: 1.5rem;
  color: #000000;
  border-radius: 0.25rem;
  font-weight: 300;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.125rem;
  background-color: #ffffff;
  border: 0.125rem solid #f0f7fe;
  padding: 2rem 0.25rem;
}
.benefits__tab::before {
  font-size: 5.5rem;
}
.benefits__tab.active {
  color: #fe4001;
  border-color: #fe4001;
}
.benefits__visual {
  margin-top: 4rem;
  flex: 0 0 43.75rem;
  height: 43.75rem;
  position: relative;
}
.benefits__diagram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.05);
  pointer-events: none;
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  visibility: hidden;
}
.benefits__diagram.active {
  transform: scale(1);
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
  transition-delay: 0.15s;
  visibility: visible;
}
.benefits__diagram-image svg {
  width: 100%;
  height: 100%;
  max-width: 100%;
  color: #f0f7fe;
}
.benefits__diagram-image svg path {
  fill: currentColor;
}
.benefits__diagram-image svg g {
  cursor: pointer;
}
.benefits__diagram-image svg g.active {
  color: #fe4001;
}
.benefits__diagram-item {
  font-size: 4.5rem;
  font-weight: 300;
  position: absolute;
  pointer-events: none;
}
.benefits__diagram-item:nth-child(1) {
  left: 50%;
  transform: translateX(-50%);
  top: 5%;
}
.benefits__diagram-item:nth-child(2) {
  left: 82%;
  top: 26%;
}
.benefits__diagram-item:nth-child(3) {
  left: 82%;
  top: 60%;
}
.benefits__diagram-item:nth-child(4) {
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.benefits__diagram-item:nth-child(5) {
  left: 12%;
  top: 60%;
}
.benefits__diagram-item:nth-child(6) {
  left: 12%;
  top: 26%;
}
.benefits__diagram-center {
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 4rem;
}
.benefits__diagram-text {
  display: none;
  font-size: 1.625rem;
  font-weight: 100;
}
.benefits__diagram-text.active {
  display: block;
}