.header {
	padding: 1rem 0;
	@media (min-width: $md5) {
		padding: 1.88rem 0;
	}
	// .header__container
	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .header__logo
	&__logo {
		max-width: 10rem;
		width: 100%;
		display: block;
		& img {
			width: 100%;
		}
		@media (min-width: $md2) {
			max-width: 16.2875rem;
		}
	}
	// .header__btns
	&__btns {
		display: flex;
		gap: 1rem;
	}
	// .header__btn
	&__btn {
		@media (max-width: $md5) {
			padding: 1rem;
			width: 2rem;
			height: 2rem;
			& span {
				display: none;
			}
		}
	}
}
