// Использование модулей SASS
@use "sass:math";
// Использование модулей SASS
// ======================================МИКСИНЫ==============================================
@import "mixins";
// ======================================МИКСИНЫ==============================================

// ======================================ШРИФТЫ===============================================
@import "fonts";
@import "icons";
// ======================================ШРИФТЫ===============================================

// Шрифт по умолчанию
$fontfamily: "Geologica";

// Шрифт по умолчанию

$md0: 1599.98px;
$md1: 1399.98px;
$md2: 1279.98px;
$md3: 1023.98px;
$md4: 767.98px;
$md5: 575.98px;
$md6: 389.98px;

// ПЕРЕМЕННЫЕ

$minWidth: 320; // Минимальная ширина страницы
$maxWidth: 1920; // Ширина макета
$maxWidthContainer: rem(1240); // Максимальная ширина ограничивающего контейнера
$containerPadding: 30;

// ЦВЕТА

$text: #000;
$accent: #fe4001;

// Z-Index

$ui-index-1: 1; // Для наполняющих элементов в общем потоке
$ui-index-2: 2; // Для наполняющих элементов в общем потоке
$ui-index-3: 3; // Для масок
$ui-index-4: 4; // Для сайдбаров
$ui-index-5: 5; // Для модалок
$ui-index-6: 6; // Для элементов, перекрывающих все

// ОБЩИЕ ПАРАМЕТРЫ

// @import "grid";
@import "ui";
@import "forms";
@import "common";
@import "header";
@import "footer";

//=======================================

.promo {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .promo__container
	&__container {
	}
	// .promo__header
	&__header {
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		@media (min-width: $md4) {
			justify-content: space-between;
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .promo__offer
	&__offer {
		flex: 1 1 auto;
		@media (min-width: $md5) {
			padding-top: 2rem;
		}
		@media (min-width: $md1) {
			padding-top: 5.4rem;
		}
	}
	// .promo__title
	&__title {
		@media (min-width: $md4) {
			margin-right: -8rem;
		}
	}
	// .promo__desc
	&__desc {
		font-weight: 100;
		margin-top: 2rem;
		@media (min-width: $md2) {
			margin-top: 3.7rem;
			font-size: 1.5rem;
		}
	}
	// .promo__btn
	&__btn {
		margin-top: 2rem;
		@media (min-width: $md2) {
			margin-top: 3rem;
			min-width: rem(347);
		}
	}
	// .promo__image
	&__image {
		position: relative;

		@media (min-width: $md3) {
			flex: 0 0 rem(540);
			margin-right: -8rem;
		}
		@media (min-width: $md2) {
			flex: 0 0 rem(730);
			margin-right: -8rem;
		}
		@media (min-width: $md1) {
			margin-right: -11.3rem;
			flex: 0 0 rem(930);
		}
		& img {
			position: relative;
			z-index: 2;
		}
		&::before {
			content: "";
			position: absolute;
			top: rem(-15);
			left: rem(-89);
			background: url("@img/decor.png") 0 0 / contain no-repeat;
			z-index: 1;
			pointer-events: none;
			width: rem(600);
			height: rem(450);
			@media (min-width: $md4) {
				width: rem(1210);
				height: rem(920);
			}
		}
	}
	// .promo__footer
	&__footer {
		background-color: #f0f7fe;
		border-radius: 1.25rem;
		margin-top: 2rem;
		padding: 2rem 1rem;
		@media (min-width: $md4) {
			padding: 4rem 3.2rem;
		}
		@media (min-width: $md2) {
			margin-top: -6rem;
		}
		@media (min-width: $md1) {
			margin-top: -14rem;
		}
	}
	// .promo__caption
	&__caption {
		max-width: 41rem;
	}
	// .promo__list
	&__list {
		margin-top: 2.7rem;
		font-weight: 100;
		@media (min-width: $md4) {
			columns: 2;
			font-size: rem(18);
		}
		@media (min-width: $md2) {
			font-size: rem(24);
		}
		& li {
			break-inside: avoid;
			position: relative;
			padding-left: 1.3rem;
			&::before {
				content: "";
				position: absolute;
				top: rem(12);
				left: 0;
				border-radius: 50%;
				width: rem(6);
				height: rem(6);
				background: #ff3d00;
			}
			&:not(:last-child) {
				margin-bottom: 1.6rem;
			}
		}
	}
}

.problem {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .problem__container
	&__container {
		position: relative;
		&::before {
			content: "";
			position: absolute;
			top: 20%;
			right: 50%;
			width: rem(1210);
			height: rem(920);
			background: url("@img/decor.png") center / contain no-repeat;
			pointer-events: none;
			z-index: -1;
		}
	}
	// .problem__title
	&__title {
		max-width: rem(720);
	}
	// .problem__desc
	&__desc {
		max-width: rem(620);
		margin-top: 1.5rem;
		@media (min-width: $md4) {
			margin-top: 3.5rem;
		}
	}
	// .problem__images
	&__images {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			gap: 0;
			margin-top: 4.5rem;
			justify-content: space-between;
			margin-left: -1.5rem;
			margin-right: -1.5rem;
			flex-direction: row;
		}
	}
	// .problem__image
	&__image {
	}
	// .problem__bottom
	&__bottom {
		margin-top: 2.5rem;
		@media (min-width: $md4) {
			margin-top: 4.75rem;
		}
	}
	// .problem__caption
	&__caption {
	}
	// .problem__list
	&__list {
		margin-top: 3.25rem;
		display: grid;
		row-gap: 4rem;
		@media (min-width: $md4) {
			row-gap: 2rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .problem__item
	&__item {
		position: relative;
		counter-increment: num;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		max-width: rem(260);
		&::after {
			content: counter(num);
			color: #fe4001;
			font-size: rem(72);
			font-weight: 500;
			order: -1;
		}
		&:not(:last-child) {
			&::before {
				position: absolute;
				top: calc(100% + 0.5rem);
				left: 0;
				@extend %ic, .icon-arrow;
				transform: rotate(90deg);
				font-size: 3rem;
				@media (min-width: $md4) {
					font-size: 4rem;
					left: 100%;
					top: 2.5rem;
					transform: none;
				}
			}
		}
	}
	// .problem__item-caption
	&__item-caption {
		margin-top: 0.25rem;
		font-size: rem(18);
		@media (min-width: $md5) {
			font-size: rem(24);
		}
	}
	// .problem__item-desc
	&__item-desc {
		margin-top: 1rem;
		font-weight: 100;
		max-width: rem(240);
		@media (min-width: $md5) {
			font-size: rem(24);
		}
	}
}

.solution {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .solution__container
	&__container {
	}
	// .solution__body
	&__body {
		background-color: #f0f7fe;
		border-radius: rem(20);

		display: flex;
		position: relative;
		overflow: hidden;
		z-index: 1;
		gap: 1rem;
		&::before {
			content: "";
			position: absolute;
			top: 27%;
			left: 64%;
			width: rem(1210);
			height: rem(920);
			background: url("@img/decor.png") 0 0 / contain no-repeat;
			z-index: -1;
			pointer-events: none;
		}
		flex-direction: column;
		padding: 2rem 1.65rem 2rem;
		@media (min-width: $md4) {
			padding: 3.25rem 2.65rem 3.75rem;
			flex-direction: row;
		}
	}
	// .solution__main
	&__main {
	}
	// .solution__title
	&__title {
		@media (max-width: $md5) {
			font-size: rem(28);
		}
	}
	// .solution__subtitle
	&__subtitle {
		max-width: 22.5rem;
		padding-left: 0.5rem;
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
		}
		@media (min-width: $md2) {
			margin-top: 4.2rem;
		}
	}
	// .solution__text
	&__text {
		font-weight: 100;
		line-height: 1.2;
		margin-top: 1.5rem;
		@media (min-width: $md5) {
			padding-left: 0.5rem;
			margin-top: 2.5rem;
			font-size: rem(18);
		}
		@media (min-width: $md2) {
			font-size: rem(24);
		}
	}
	// .solution__image
	&__image {
		flex: 0 0 23.5rem;
	}
}

.benefits {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .benefits__container
	&__container {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		flex-direction: column;
		@media (min-width: $md2) {
			flex-direction: row;
		}
	}
	// .benefits__main
	&__main {
		@media (min-width: $md2) {
			max-width: rem(510);
		}
	}
	// .benefits__title
	&__title {
		text-align: center;
		@media (min-width: $md2) {
			text-align: left;
		}
	}
	// .benefits__tabs
	&__tabs {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 1.75rem;
		max-width: rem(450);
		margin-left: auto;
		margin-right: auto;
		margin-top: 4rem;
		@media (min-width: $md2) {
			margin-top: 8rem;
			margin-left: 0;
			margin-right: 0;
		}
	}
	// .benefits__tab
	&__tab {
		border: em(1, 24) solid;

		color: #000000;
		border-radius: em(4, 24);
		font-weight: 300;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: em(0.125, 1.5);
		background-color: #ffffff;
		border: rem(2) solid #f0f7fe;
		padding: em(2, 1.5) em(0.25, 1.5);
		&::before {
			font-size: em(5.5, 1.5);
		}
		&.active {
			color: #fe4001;
			border-color: #fe4001;
		}
		@media (min-width: $md5) {
			font-size: 1.25rem;
		}
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .benefits__visual
	&__visual {
		margin-top: 4rem;
		width: rem(700);
		flex-shrink: 0;
		height: rem(700);
		margin-left: auto;
		margin-right: auto;
		position: relative;
		zoom: 0.4;
		@media (min-width: $md5) {
			zoom: 0.75;
		}
		@media (min-width: $md4) {
			zoom: 1;
		}
	}
	// .benefits__diagram
	&__diagram {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		transform: scale(0.05);
		pointer-events: none;
		transition: opacity 0.3s ease-out, transform 0.3s ease-out;
		visibility: hidden;
		&.active {
			transform: scale(1);
			opacity: 1;
			transform: scale(1);
			pointer-events: auto;
			transition-delay: 0.15s;
			visibility: visible;
		}
	}
	// .benefits__diagram-image
	&__diagram-image {
		& svg {
			width: 100%;
			height: 100%;
			max-width: 100%;

			color: #f0f7fe;
			path {
				fill: currentColor;
			}
			g {
				cursor: pointer;
				-webkit-tap-highlight-color: transparent;
				&.active {
					color: #fe4001;
				}
			}
		}
	}
	// .benefits__diagram-items
	&__diagram-items {
	}
	// .benefits__diagram-item
	&__diagram-item {
		font-size: rem(72);
		font-weight: 300;
		position: absolute;
		pointer-events: none;
		&:nth-child(1) {
			left: 50%;
			transform: translateX(-50%);
			top: 5%;
		}
		&:nth-child(2) {
			left: 82%;
			top: 26%;
		}
		&:nth-child(3) {
			left: 82%;
			top: 60%;
		}
		&:nth-child(4) {
			bottom: 5%;
			left: 50%;
			transform: translateX(-50%);
		}
		&:nth-child(5) {
			left: 12%;
			top: 60%;
		}
		&:nth-child(6) {
			left: 12%;
			top: 26%;
		}
		&.active {
			.benefits__diagram-num {
				opacity: 0;
			}
			.benefits__diagram-icon {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	// .benefits__diagram-num
	&__diagram-num {
	}
	// .benefits__diagram-icon
	&__diagram-icon {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
	}
	// .benefits__diagram-center
	&__diagram-center {
		background: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 50%;
		width: rem(400);
		height: rem(400);
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		padding: 2rem 4rem;
	}
	// .benefits__diagram-text
	&__diagram-text {
		display: none;
		font-weight: 100;
		font-size: rem(40);
		@media (min-width: $md5) {
			font-size: rem(26);
		}
		&.active {
			display: block;
		}
	}
}

.effect {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .effect__container
	&__container {
	}
	// .effect__body
	&__body {
		background-color: #f0f7fe;
		border-radius: rem(20);
		position: relative;
		background: #f0f7fe;
		overflow: hidden;
		padding: 3rem 1rem 2rem;
		@media (min-width: $md4) {
			padding: 4rem 1rem 3.75rem 3rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: -40%;
			left: 65%;
			width: rem(1210);
			height: rem(920);
			pointer-events: none;
			background: url("@img/decor.png") center / contain no-repeat;
		}
	}
	// .effect__title
	&__title {
		max-width: rem(670);
	}
	// .effect__subtitle
	&__subtitle {
		font-weight: 100;
		margin-top: 2rem;
		font-size: rem(18);
		@media (min-width: $md4) {
			font-size: rem(30);
			margin-top: 4rem;
		}
	}
	// .effect__list
	&__list {
		display: grid;
		row-gap: 1.5rem;
		grid-template-columns: repeat(2, 1fr);
		gap: 1rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(3, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .effect__item
	&__item {
		margin-top: 3rem;
	}
	// .effect__item-num
	&__item-num {
		color: #fe4001;
		font-weight: 500;
		font-size: rem(32);
		@media (min-width: $md5) {
			font-size: rem(48);
		}
		@media (min-width: $md4) {
			font-size: rem(72);
		}
	}
	// .effect__item-desc
	&__item-desc {
		color: #000000;
		font-weight: 300;
		@media (min-width: $md5) {
			font-size: rem(18);
		}
	}
}

.work {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .work__container
	&__container {
	}
	// .work__title
	&__title {
	}
	// .work__subtitle
	&__subtitle {
		font-weight: 100;
		font-size: rem(20);
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: 4.25rem;
			font-size: rem(31.2);
		}
	}
	// .work__list
	&__list {
		margin-top: 4rem;
		display: grid;
		row-gap: 2rem;
		@media (min-width: $md4) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(6, 1fr);
		}
	}
	// .work__item
	&__item {
		grid-column: span 2;
		@media (min-width: $md2) {
			&:nth-last-child(2) {
				grid-column: span 3;
				.work__item-text {
					max-width: rem(520);
				}
			}
		}
	}
	// .work__item-num
	&__item-num {
		@extend.effect__item-num;
	}
	// .work__item-title
	&__item-title {
		font-size: rem(24);
		max-width: rem(340);
	}
	// .work__item-text
	&__item-text {
		margin-top: 1rem;
		font-size: rem(18);
		font-weight: 100;
		@media (min-width: $md4) {
			max-width: rem(320);
		}
		& li {
			&:not(:last-child) {
				margin-bottom: 1.15rem;
			}
		}
	}
	// .work__image
	&__image {
		display: flex;
		justify-content: flex-end;
		@media (min-width: $md4) {
			grid-column: span 3;
		}
		& img {
			max-width: 100%;
		}
	}
}

.portfolio {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .portfolio__container
	&__container {
	}
	// .portfolio__body
	&__body {
		background-color: #f0f7fe;
		border-radius: rem(20);
		position: relative;
		background: #f0f7fe;
		padding: 2rem;
		@media (min-width: $md5) {
			padding: 4rem 3rem 3.75rem 3rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 40%;
			left: 75%;
			width: rem(1210);
			height: rem(920);
			pointer-events: none;
			z-index: -1;
			background: url("@img/decor.png") center / contain no-repeat;
		}
	}
	// .portfolio__title
	&__title {
		max-width: rem(820);
	}
	// .portfolio__list
	&__list {
		margin-top: 2.5rem;
		display: grid;
		gap: 2rem;
		@media (min-width: $md5) {
			gap: 1rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}
	// .portfolio__item
	&__item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
	}
	// .portfolio__icon
	&__icon {
		& img {
			max-height: rem(70);
		}
	}
	// .portfolio__text
	&__text {
		margin-top: 1rem;
		font-size: rem(18);
		font-weight: 100;
		max-width: 15.25rem;
	}
	// .portfolio__footer
	&__footer {
		margin-top: 6rem;
		.portfolio__list {
			margin-top: 1.5rem;
		}
	}
	// .portfolio__caption
	&__caption {
		font-weight: 100;
		font-size: rem(30);
	}
	// .portfolio__num
	&__num {
		@extend.effect__item-num;
	}
	// .portfolio__image
	&__image {
		margin-left: -13rem;
		margin-top: -5rem;
		margin-bottom: -5rem;
		@media (min-width: $md2) {
			margin-left: -26rem;
			margin-top: -10rem;
			margin-bottom: -10rem;
		}
	}
}

.tariffs {
	padding: 2rem 0;
	@media (min-width: $md3) {
		padding: 3rem 0;
	}
	// .tariffs__container
	&__container {
	}
	// .tariffs__title
	&__title {
	}
	// .tariffs__header
	&__header {
		margin-top: 2rem;
		display: flex;
		flex-direction: column;
		gap: 2rem;
		@media (min-width: $md4) {
			flex-direction: row;
			margin-top: 3rem;
			justify-content: space-between;
			align-items: center;
		}
	}
	// .tariffs__subtitle
	&__subtitle {
		font-size: 30px;
		font-weight: 100;
	}
	// .tariffs__btn
	&__btn {
		min-width: rem(347);
		&::before {
			width: rem(19);
			height: rem(19);
			background: #fff;
			font-size: 0.65rem;
			transform: rotate(45deg);
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
	// .tariffs__cards
	&__cards {
		display: grid;
		gap: 1.5rem;
		margin-top: 2rem;
		@media (min-width: $md4) {
			margin-top: 4rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md2) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
	// .tariffs__card
	&__card {
		border-radius: rem(4);
		background-color: #ffffff;
		border: rem(2) solid #f0f7fe;
		padding: 2.5rem 2rem 2.5rem 1.25rem;
		display: flex;
		flex-direction: column;
		transition: background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #f0f7fe;
			}
		}
	}
	// .tariffs__card-title
	&__card-title {
		font-size: rem(36);
	}
	// .tariffs__card-desc
	&__card-desc {
		margin-top: 1rem;
		font-size: rem(18);
		font-weight: 100;
		padding-right: 1rem;
		flex: 1 1 auto;
	}
	// .tariffs__card-price
	&__card-price {
		margin-top: rem(10);
		font-weight: 100;
		font-size: rem(28);
		@media (min-width: $md4) {
			font-size: rem(44);
		}
	}
	// .tariffs__card-btn
	&__card-btn {
		width: 100%;
		margin-top: 3rem;
	}
}

.contacts {
	padding: 3rem 0 2.5rem;
	@media (min-width: $md3) {
		padding: 6rem 0 3.5rem;
	}
	// .contacts__container
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		@media (min-width: $md5) {
			font-size: rem(20);
		}
	}
	// .contacts__socials
	&__socials {
		display: flex;
		gap: 1.5rem;
	}
	// .contacts__social
	&__social {
		width: 2.75rem;
		height: 2.75rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s ease, color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #fe4001;
				color: #fff;
			}
		}
	}
	// .contacts__email
	&__email {
		letter-spacing: em(1, 20);
		color: #1d1d1b;
		font-weight: 300;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #fe4001;
			}
		}
	}
}
