.title {
	font-weight: 100;
	line-height: math.div(72, 70);
	font-size: rem(36);
	@media (min-width: $md4) {
		font-size: rem(50);
	}
	@media (min-width: $md2) {
		font-size: rem(70);
	}
}

.title-sm {
	font-weight: 100;
	line-height: 1.2;
	font-size: rem(20);
	@media (min-width: $md5) {
		font-size: rem(24);
	}
	@media (min-width: $md2) {
		font-size: rem(36);
	}
}

.color-primary {
	color: $text;
}

.text-center {
	text-align: center;
}

//============ МОДУЛИ ====================
@import "modules/popup";

//============ МОДУЛИ ====================

.color-accent {
	color: $text;
}

.fw-medium {
	font-weight: 500;
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// Стилизация селекта
// $selectBg: $orange;
// $selectColor: $dark;

// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }
// ::selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	-webkit-box-shadow: none;
// 	box-shadow: none;
// }
// ::-moz-selection {
// 	color: $selectColor;
// 	background-color: $selectBg;
// 	box-shadow: none;
// }

// Стилизация скролла

$scrollbarColor: $accent;

::-webkit-scrollbar {
	width: rem(8);
}
::-webkit-scrollbar-track {
	background: #fff;
}
::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);
	@media (any-hover: hover) {
		&:hover {
			background: darken($color: $accent, $amount: 10);
		}
	}
}

//============ ОБЩИЕ ЭЛЕМЕНТЫ ============

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
.hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.cover-image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

// ========== ВСПОМОГАТЕЛЬНЫЕ КЛАССЫ ======
